Repository CodeSystem2022/Debugging_Demons_Tercer_Semestre, pull requests merged in 2023-07, with the labels that each got.

#150 Semana 11
  Semana 11 - 12-06/Mariano Farias/JAVA/Persona.java
  Semana 11 - 12-06/Mariano Farias/JS/Sistema de Ventas.js
  Semana 11 - 12-06/Mariano Farias/PYTHON/Persona.py
Labels: Java, Python, Javascript

#153 [ADD] Semana 11
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Java/ListadosPersonasApp.java
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Java/Persona.java
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Javascript/Cliente.js
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Javascript/Diagrama UML.uxf
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Javascript/Empleado.js
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Javascript/Persona.js
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Javascript/PruebaPersonas.js
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/Diagrama.uxf
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/Persona.py
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/__pycache__/Persona.cpython-311.pyc
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/__pycache__/conexion.cpython-311.pyc
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/__pycache__/logger_base.cpython-311.pyc
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/capa detos.log
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/conexion.py
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/logger_base.py
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/persona_dao.py
Labels: Solicitud de Pull Request

#151 [ADD] Semana 10
  Semana 10 - 05-06/Galvan, Sebastian Alejandro/Java/ClaculadoraUTN.java
  Semana 10 - 05-06/Galvan, Sebastian Alejandro/Javascript/Persona.js
  Semana 10 - 05-06/Galvan, Sebastian Alejandro/Python/Diagrama.uxf
  Semana 10 - 05-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/Persona.py
  Semana 10 - 05-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/conexion.py
  Semana 10 - 05-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/logger_base.py
  Semana 10 - 05-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/persona_dao.py
Labels: Java, Python, Javascript

#154 Semana 12 seba ok
  Semana 12 - 19-06/Galvan, Sebastian Alejandro/Java/Main.java
  Semana 12 - 19-06/Galvan, Sebastian Alejandro/Java/conexion/Conexion.java
  Semana 12 - 19-06/Perez Pesce. Agustin/Java/Conexion.java
  Semana 12 - 19-06/Perez Pesce. Agustin/Java/Main.java
Labels: Solicitud de Pull Request

#173 Completada semana 11
  Semana 11 - 12-06/Genre, Franco Sebastian/Java/ListadoPersonasApp.java
  Semana 11 - 12-06/Genre, Franco Sebastian/Java/Persona.java
  Semana 11 - 12-06/Genre, Franco Sebastian/JavaScript/SistemaVentas.js
  Semana 11 - 12-06/Genre, Franco Sebastian/Python/Conexion.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#174 [ADD] Ejercicio Java y Python Semana 13
  Semana 13 - 26-06/Perez Pesce, Agustin/Java/Main.java
  Semana 13 - 26-06/Perez Pesce, Agustin/Java/conexion/Conexion.java
  Semana 13 - 26-06/Perez Pesce, Agustin/Java/datos/EstudianteDAO.java
  Semana 13 - 26-06/Perez Pesce, Agustin/Java/dominio/Estudiante.java
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/Persona.py
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/capa_datos.log
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/conexion.py
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/cursor_del_pool.py
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/logger_base.py
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/persona_dao.py
  Semana 13 - 26-06/archivo.txt
Labels: Java, Python, Solicitud de Pull Request

#172 Completada semana 10
  Semana 10 - 05-06/Genre, Franco Sebastian/Java/ListadoPersonasApp.java
  Semana 10 - 05-06/Genre, Franco Sebastian/Java/Persona.java
  Semana 10 - 05-06/Genre, Franco Sebastian/JavaScript/SistemaVentas.js
  Semana 10 - 05-06/Genre, Franco Sebastian/Python/Conexion.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#152 [ADD] Semana 9
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/IAccessoDatos.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/ImplMySQL.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/ImplOracle.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/TestInterfaces.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Javascript/clases.js
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Pyhton/Diagrama.uxf
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Pyhton/capa_datos_persona/logger_base.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#159 Semana 10 completa
  Mendoza, Santiago RJ/Java/ListadoPersonasApp.java
  Mendoza, Santiago RJ/Java/Persona.java
  Mendoza, Santiago RJ/Javascript/SistemaVentas.js
  Mendoza, Santiago RJ/Python/conexion.py
Labels: Java, Python, Javascript

#164 Completada semana 9
  Semana 9 - 29-05/Genre, Franco Sebastian/Java/Aritmetica.java
  Semana 9 - 29-05/Genre, Franco Sebastian/Java/OperacionExcepcion.java
  Semana 9 - 29-05/Genre, Franco Sebastian/Java/TestExcepciones.java
  Semana 9 - 29-05/Genre, Franco Sebastian/JavaScript/Clase del 05-03.js
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/Conexion.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/Persona.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/Persona_.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/logger_base.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#179 [ADD] Semana 9 - Java- JavaScript - Python
  Semana 9 - 29-05/Sanchez Mario Cristian/Java/aritmetica/Aritmetica.java
  Semana 9 - 29-05/Sanchez Mario Cristian/Java/excepciones/OperacionExcepcion.java
  Semana 9 - 29-05/Sanchez Mario Cristian/Java/test/TestExcepciones.java
  Semana 9 - 29-05/Sanchez Mario Cristian/JavaScript/01-06-clases.js
  Semana 9 - 29-05/Sanchez Mario Cristian/JavaScript/diagrama.uxf
  Semana 9 - 29-05/Sanchez Mario Cristian/JavaScript/index.html
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/transacciones.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/transacciones_2.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/transacciones_3.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/v_i_registros.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/v_registros.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#181 [ADD] archivos semana 9 ok
  Semana 9 - 29-05/Troncoso, Braian Axel/Java/Aritmetica.java
  Semana 9 - 29-05/Troncoso, Braian Axel/Java/OperacionExcepcion.java
  Semana 9 - 29-05/Troncoso, Braian Axel/Java/TestExcepciones.java
  Semana 9 - 29-05/Troncoso, Braian Axel/Javascritp/01-04-Objetos.js
  Semana 9 - 29-05/Troncoso, Braian Axel/Javascritp/index.html
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/transacciones.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/transacciones_2.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/transacciones_3.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/v_i_registros.py
Labels: Java, Python, Javascript

#177 Entrega semana 13 braian
  Semana 13 - 26-06/Troncoso, Braian Axel/Java/Conexion.java
  Semana 13 - 26-06/Troncoso, Braian Axel/Java/Estudiante.java
  Semana 13 - 26-06/Troncoso, Braian Axel/Java/EstudianteDAO.java
  Semana 13 - 26-06/Troncoso, Braian Axel/Java/Main.java
  Semana 13 - 26-06/Troncoso, Braian Axel/Java/consultas.sql
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/Persona.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/capa_datos.log
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/conexion.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/cursor_del_pool.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/logger_base.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/persona_dao.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/pool_conexiones.png
Labels: Java, Python

#184 Completada semana 13
  Semana 13 - 26-06/Genre, Franco Sebastian/Java/Conexion.java
  Semana 13 - 26-06/Genre, Franco Sebastian/Java/Dominio.java
  Semana 13 - 26-06/Genre, Franco Sebastian/Java/EstudianteDAO.java
  Semana 13 - 26-06/Genre, Franco Sebastian/Java/Main.java
  Semana 13 - 26-06/Genre, Franco Sebastian/Python/Conexion.py
  Semana 13 - 26-06/Genre, Franco Sebastian/Python/CursorDelPool.py
  Semana 13 - 26-06/Genre, Franco Sebastian/Python/LoggerBase.py
  Semana 13 - 26-06/Genre, Franco Sebastian/Python/Persona.py
  Semana 13 - 26-06/Genre, Franco Sebastian/Python/PersonaDAO.py
Labels: Java, Python, Solicitud de Pull Request

#185 [ADD] archivos de semana 11 ok
  Semana 11 - 12-06/Troncoso, Braian Axel/Java/ListadoPersonasApp.java
  Semana 11 - 12-06/Troncoso, Braian Axel/Java/Persona.java
  Semana 11 - 12-06/Troncoso, Braian Axel/Javascript/SistemaVentas-UML.pdf
  Semana 11 - 12-06/Troncoso, Braian Axel/Javascript/SistemaVentas.js
  Semana 11 - 12-06/Troncoso, Braian Axel/Python/conexion.py
Labels: Java, Python, Javascript

#187 Revert 157 semana 10 mariano
  Mendoza, Santiago RJ/Java/SistemaEstudiantes/Conexion.java
  Mendoza, Santiago RJ/Java/SistemaEstudiantes/Estudiante.java
  Mendoza, Santiago RJ/Java/SistemaEstudiantes/EstudianteDAO.java
  Mendoza, Santiago RJ/Java/SistemaEstudiantes/Main.java
Labels: Java, Python, Javascript

#189 Arreglo semana 10 m
  Semana 10 - 05-06/Mariano Farias/JS/Persona.js
  Semana 10 - 05-06/Mariano Farias/Java/Persona.java
  Semana 10 - 05-06/Mariano Farias/Python/persona_dao.py
Labels: Java, Python, Javascript

#186 [ADD]Archivos Semana 10
  Semana 10 - 05-06/Mario Cristian Sanchez/Java/Main.java
  Semana 10 - 05-06/Mario Cristian Sanchez/Java/conexion/Conexion.java
  Semana 10 - 05-06/Mario Cristian Sanchez/Java/datos/EstudianteDAO.java
  Semana 10 - 05-06/Mario Cristian Sanchez/Java/dominio/Estudiante.java
  Semana 10 - 05-06/Mario Cristian Sanchez/Python/Persona.py
  Semana 10 - 05-06/Mario Cristian Sanchez/Python/capa_datos.log
  Semana 10 - 05-06/Mario Cristian Sanchez/Python/conexion.py
  Semana 10 - 05-06/Mario Cristian Sanchez/Python/cursor_del_pool.py
  Semana 10 - 05-06/Mario Cristian Sanchez/Python/logger_base.py
  Semana 10 - 05-06/Mario Cristian Sanchez/Python/persona_dao.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#192 Semana 12
  Semana 12 - 19-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/Conexion.java
  Semana 12 - 19-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/Estudiante.java
  Semana 12 - 19-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/EstudianteDAO.java
  Semana 12 - 19-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/Main.java
Labels: Java, Python, Javascript

#195 [FIX] Ejercicios Semana 13
  Semana 13 - 26-06/Mendoza, Santiago RJ/Java/Main.java
  Semana 13 - 26-06/Mendoza, Santiago RJ/Java/conexion/Conexion.java
  Semana 13 - 26-06/Mendoza, Santiago RJ/Java/datos/EstudianteDAO.java
  Semana 13 - 26-06/Mendoza, Santiago RJ/Java/dominio/Estudiante.java
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/Persona.py
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/capa_datos.log
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/conexion.py
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/cursor_del_pool.py
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/logger_base.py
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/persona_dao.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#196 [ADD]Archivos Semana 11
  Semana 11 - 12-06/Mario Cristian Sanchez/Java/ListadoPersonasApp.java
  Semana 11 - 12-06/Mario Cristian Sanchez/Java/Persona.java
  Semana 11 - 12-06/Mario Cristian Sanchez/JavaScript/SistemasVentas.js
  Semana 11 - 12-06/Mario Cristian Sanchez/JavaScript/sistemasVentas.uxf
  Semana 11 - 12-06/Mario Cristian Sanchez/Python/conexion.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#199 Semana 11
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Java/ListadosPersonasApp.java
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Java/Persona.java
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Javascript/Cliente.js
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Javascript/Diagrama UML.uxf
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Javascript/Empleado.js
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Javascript/Persona.js
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Javascript/PruebaPersonas.js
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/Diagrama.uxf
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/Persona.py
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/__pycache__/Persona.cpython-311.pyc
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/__pycache__/conexion.cpython-311.pyc
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/__pycache__/logger_base.cpython-311.pyc
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/capa detos.log
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/conexion.py
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/logger_base.py
  Semana 11 - 12-06/Galvan, Sebastian Alejandro/Python/capa_datos_persona/persona_dao.py
  Semana 11 - 12-06/Genre, Franco Sebastian/Java/ListadoPersonasApp.java
  Semana 11 - 12-06/Genre, Franco Sebastian/Java/Persona.java
  Semana 11 - 12-06/Genre, Franco Sebastian/JavaScript/SistemaVentas.js
  Semana 11 - 12-06/Genre, Franco Sebastian/Python/Conexion.py
  Semana 11 - 12-06/Mariano Farias/JAVA/Persona.java
  Semana 11 - 12-06/Mariano Farias/JS/Sistema de Ventas.js
  Semana 11 - 12-06/Mariano Farias/PYTHON/Persona.py
  Semana 11 - 12-06/Mario Cristian Sanchez/Java/ListadoPersonasApp.java
  Semana 11 - 12-06/Mario Cristian Sanchez/Java/Persona.java
  Semana 11 - 12-06/Mario Cristian Sanchez/JavaScript/SistemasVentas.js
  Semana 11 - 12-06/Mario Cristian Sanchez/JavaScript/sistemasVentas.uxf
  Semana 11 - 12-06/Mario Cristian Sanchez/Python/conexion.py
  Semana 11 - 12-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/Conexion.java
  Semana 11 - 12-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/Estudiante.java
  Semana 11 - 12-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/EstudianteDAO.java
  Semana 11 - 12-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/Main.java
  Semana 11 - 12-06/Mendoza, Santiago RJ/Python/conexion.py
  Semana 11 - 12-06/Mendoza, Santiago RJ/Python/cursor_del_pool.py
  Semana 11 - 12-06/Mendoza, Santiago RJ/Python/persona_dao.py
  Semana 11 - 12-06/Perez Pesce, Agustin/Java/ListadoPersonasApp.java
  Semana 11 - 12-06/Perez Pesce, Agustin/Java/Persona.java
  Semana 11 - 12-06/Perez Pesce, Agustin/JavaScript/SistemasVentas.js
  Semana 11 - 12-06/Perez Pesce, Agustin/JavaScript/sistemasVentas.uxf
  Semana 11 - 12-06/Perez Pesce, Agustin/Python/conexion.py
  Semana 11 - 12-06/Troncoso, Braian Axel/Java/ListadoPersonasApp.java
  Semana 11 - 12-06/Troncoso, Braian Axel/Java/Persona.java
  Semana 11 - 12-06/Troncoso, Braian Axel/Javascript/SistemaVentas-UML.pdf
  Semana 11 - 12-06/Troncoso, Braian Axel/Javascript/SistemaVentas.js
  Semana 11 - 12-06/Troncoso, Braian Axel/Python/conexion.py
Labels: Merge a Dev

#198 [ADD]Archivos Semana 12
  Semana 12 - 19-06/Mario Cristian Sanchez/Java/Conexion.java
  Semana 12 - 19-06/Mario Cristian Sanchez/Java/Main.java
Labels: Java, Python, Javascript, Solicitud de Pull Request

#194 [ADD] arreglo semana 12 ok
  Semana 12 - 19-06/Troncoso, Braian Axel/Java/Conexion.java
  Semana 12 - 19-06/Troncoso, Braian Axel/Java/Estudiante.java
  Semana 12 - 19-06/Troncoso, Braian Axel/Java/EstudianteDAO.java
  Semana 12 - 19-06/Troncoso, Braian Axel/Java/Main.java
Labels: Java

#202 Semana 9
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/IAccessoDatos.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/ImplMySQL.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/ImplOracle.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/TestInterfaces.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Javascript/clases.js
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Pyhton/Diagrama.uxf
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Pyhton/capa_datos_persona/logger_base.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Java/Aritmetica.java
  Semana 9 - 29-05/Genre, Franco Sebastian/Java/OperacionExcepcion.java
  Semana 9 - 29-05/Genre, Franco Sebastian/Java/TestExcepciones.java
  Semana 9 - 29-05/Genre, Franco Sebastian/JavaScript/Clase del 05-03.js
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/Conexion.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/Persona.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/Persona_.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/logger_base.py
  Semana 9 - 29-05/Mariano Farias/Java/CaculadoraUTN.java
  Semana 9 - 29-05/Mariano Farias/Js/05-03-clases.js
  Semana 9 - 29-05/Mariano Farias/Python/Persona.py
  Semana 9 - 29-05/Mendoza, Santiago RJ/Java/CalculadoraUTN.java
  Semana 9 - 29-05/Mendoza, Santiago RJ/Javascript/TSLeccion07/Cliente.js
  Semana 9 - 29-05/Mendoza, Santiago RJ/Javascript/TSLeccion07/Empleado.js
  Semana 9 - 29-05/Mendoza, Santiago RJ/Javascript/TSLeccion07/Persona.js
  Semana 9 - 29-05/Mendoza, Santiago RJ/Javascript/TSLeccion07/PruebaPersona.js
  Semana 9 - 29-05/Mendoza, Santiago RJ/Python/persona_dao.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Java/aritmetica/Aritmetica.java
  Semana 9 - 29-05/Perez Pesce, Agustin/Java/excepciones/OperacionExcepcion.java
  Semana 9 - 29-05/Perez Pesce, Agustin/Java/test/TestExcepciones.java
  Semana 9 - 29-05/Perez Pesce, Agustin/JavaScript/05-03-clases.js
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/Persona.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/conexion.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/logger_base.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/persona_dao.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Java/aritmetica/Aritmetica.java
  Semana 9 - 29-05/Sanchez Mario Cristian/Java/excepciones/OperacionExcepcion.java
  Semana 9 - 29-05/Sanchez Mario Cristian/Java/test/TestExcepciones.java
  Semana 9 - 29-05/Sanchez Mario Cristian/JavaScript/01-06-clases.js
  Semana 9 - 29-05/Sanchez Mario Cristian/JavaScript/diagrama.uxf
  Semana 9 - 29-05/Sanchez Mario Cristian/JavaScript/index.html
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/transacciones.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/transacciones_2.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/transacciones_3.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/v_i_registros.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/v_registros.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Java/Aritmetica.java
  Semana 9 - 29-05/Troncoso, Braian Axel/Java/OperacionExcepcion.java
  Semana 9 - 29-05/Troncoso, Braian Axel/Java/TestExcepciones.java
  Semana 9 - 29-05/Troncoso, Braian Axel/Javascritp/01-04-Objetos.js
  Semana 9 - 29-05/Troncoso, Braian Axel/Javascritp/index.html
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/transacciones.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/transacciones_2.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/transacciones_3.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/v_i_registros.py
Labels: Merge a Dev

#200 [ADD]Archivos Semana 13
  Semana 13 - 26-06/Mario Cristian Sanchez/Java/Main.java
  Semana 13 - 26-06/Mario Cristian Sanchez/Java/conexion/Conexion.java
  Semana 13 - 26-06/Mario Cristian Sanchez/Java/datos/EstudianteDAO.java
  Semana 13 - 26-06/Mario Cristian Sanchez/Java/dominio/Estudiante.java
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/Persona.py
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/capa_datos.log
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/conexion.py
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/cursor_del_pool.py
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/logger_base.py
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/persona_dao.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#203 Dev
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/IAccessoDatos.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/ImplMySQL.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/ImplOracle.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Java/TestInterfaces.java
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Javascript/clases.js
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Pyhton/Diagrama.uxf
  Semana 9 - 29-05/Galvan, Sebastian Alejandro/Pyhton/capa_datos_persona/logger_base.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Java/Aritmetica.java
  Semana 9 - 29-05/Genre, Franco Sebastian/Java/OperacionExcepcion.java
  Semana 9 - 29-05/Genre, Franco Sebastian/Java/TestExcepciones.java
  Semana 9 - 29-05/Genre, Franco Sebastian/JavaScript/Clase del 05-03.js
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/Conexion.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/Persona.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/Persona_.py
  Semana 9 - 29-05/Genre, Franco Sebastian/Python/logger_base.py
  Semana 9 - 29-05/Mariano Farias/Java/CaculadoraUTN.java
  Semana 9 - 29-05/Mariano Farias/Js/05-03-clases.js
  Semana 9 - 29-05/Mariano Farias/Python/Persona.py
  Semana 9 - 29-05/Mendoza, Santiago RJ/Java/CalculadoraUTN.java
  Semana 9 - 29-05/Mendoza, Santiago RJ/Javascript/TSLeccion07/Cliente.js
  Semana 9 - 29-05/Mendoza, Santiago RJ/Javascript/TSLeccion07/Empleado.js
  Semana 9 - 29-05/Mendoza, Santiago RJ/Javascript/TSLeccion07/Persona.js
  Semana 9 - 29-05/Mendoza, Santiago RJ/Javascript/TSLeccion07/PruebaPersona.js
  Semana 9 - 29-05/Mendoza, Santiago RJ/Python/persona_dao.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Java/aritmetica/Aritmetica.java
  Semana 9 - 29-05/Perez Pesce, Agustin/Java/excepciones/OperacionExcepcion.java
  Semana 9 - 29-05/Perez Pesce, Agustin/Java/test/TestExcepciones.java
  Semana 9 - 29-05/Perez Pesce, Agustin/JavaScript/05-03-clases.js
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/Persona.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/conexion.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/logger_base.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/persona_dao.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Java/aritmetica/Aritmetica.java
  Semana 9 - 29-05/Sanchez Mario Cristian/Java/excepciones/OperacionExcepcion.java
  Semana 9 - 29-05/Sanchez Mario Cristian/Java/test/TestExcepciones.java
  Semana 9 - 29-05/Sanchez Mario Cristian/JavaScript/01-06-clases.js
  Semana 9 - 29-05/Sanchez Mario Cristian/JavaScript/diagrama.uxf
  Semana 9 - 29-05/Sanchez Mario Cristian/JavaScript/index.html
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/transacciones.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/transacciones_2.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/transacciones_3.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/v_i_registros.py
  Semana 9 - 29-05/Sanchez Mario Cristian/Python/v_registros.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Java/Aritmetica.java
  Semana 9 - 29-05/Troncoso, Braian Axel/Java/OperacionExcepcion.java
  Semana 9 - 29-05/Troncoso, Braian Axel/Java/TestExcepciones.java
  Semana 9 - 29-05/Troncoso, Braian Axel/Javascritp/01-04-Objetos.js
  Semana 9 - 29-05/Troncoso, Braian Axel/Javascritp/index.html
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/transacciones.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/transacciones_2.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/transacciones_3.py
  Semana 9 - 29-05/Troncoso, Braian Axel/Python/v_i_registros.py
Labels: Merge a Main

#204 Semana 12
  Semana 12 - 19-06/Farias, Mariano/Java/ListadoPersonasApp.java
  Semana 12 - 19-06/Galvan, Sebastian Alejandro/Java/Main.java
  Semana 12 - 19-06/Galvan, Sebastian Alejandro/Java/conexion/Conexion.java
  Semana 12 - 19-06/Genre, Franco Sebastian/Java/Conexion.java
  Semana 12 - 19-06/Genre, Franco Sebastian/Java/Estudiante.java
  Semana 12 - 19-06/Genre, Franco Sebastian/Java/EstudianteDAO.java
  Semana 12 - 19-06/Genre, Franco Sebastian/Java/Main.java
  Semana 12 - 19-06/Mario Cristian Sanchez/Java/Conexion.java
  Semana 12 - 19-06/Mario Cristian Sanchez/Java/Main.java
  Semana 12 - 19-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/Conexion.java
  Semana 12 - 19-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/Estudiante.java
  Semana 12 - 19-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/EstudianteDAO.java
  Semana 12 - 19-06/Mendoza, Santiago RJ/Java/SistemaEstudiantes/Main.java
  Semana 12 - 19-06/Perez Pesce. Agustin/Java/Conexion.java
  Semana 12 - 19-06/Perez Pesce. Agustin/Java/Main.java
  Semana 12 - 19-06/Troncoso, Braian Axel/Java/Conexion.java
  Semana 12 - 19-06/Troncoso, Braian Axel/Java/Estudiante.java
  Semana 12 - 19-06/Troncoso, Braian Axel/Java/EstudianteDAO.java
  Semana 12 - 19-06/Troncoso, Braian Axel/Java/Main.java
Labels: Merge a Dev

#205 Semana 13
  Semana 13 - 26-06/Galvan. Sebastian Alejandro/Java/Conexion.java
  Semana 13 - 26-06/Galvan. Sebastian Alejandro/Java/Estudiante.java
  Semana 13 - 26-06/Galvan. Sebastian Alejandro/Java/EstudianteDAO.java
  Semana 13 - 26-06/Galvan. Sebastian Alejandro/Python/Conexion.py
  Semana 13 - 26-06/Galvan. Sebastian Alejandro/Python/CursorDelPool.py
  Semana 13 - 26-06/Galvan. Sebastian Alejandro/Python/Logger.py
  Semana 13 - 26-06/Galvan. Sebastian Alejandro/Python/Persona.py
  Semana 13 - 26-06/Galvan. Sebastian Alejandro/Python/PersonaDAO.py
  Semana 13 - 26-06/Genre, Franco Sebastian/Java/Conexion.java
  Semana 13 - 26-06/Genre, Franco Sebastian/Java/Dominio.java
  Semana 13 - 26-06/Genre, Franco Sebastian/Java/EstudianteDAO.java
  Semana 13 - 26-06/Genre, Franco Sebastian/Java/Main.java
  Semana 13 - 26-06/Genre, Franco Sebastian/Python/Conexion.py
  Semana 13 - 26-06/Genre, Franco Sebastian/Python/CursorDelPool.py
  Semana 13 - 26-06/Genre, Franco Sebastian/Python/LoggerBase.py
  Semana 13 - 26-06/Genre, Franco Sebastian/Python/Persona.py
  Semana 13 - 26-06/Genre, Franco Sebastian/Python/PersonaDAO.py
  Semana 13 - 26-06/Mariano Farias/Java/Estudiante.java
  Semana 13 - 26-06/Mario Cristian Sanchez/Java/Main.java
  Semana 13 - 26-06/Mario Cristian Sanchez/Java/conexion/Conexion.java
  Semana 13 - 26-06/Mario Cristian Sanchez/Java/datos/EstudianteDAO.java
  Semana 13 - 26-06/Mario Cristian Sanchez/Java/dominio/Estudiante.java
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/Persona.py
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/capa_datos.log
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/conexion.py
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/cursor_del_pool.py
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/logger_base.py
  Semana 13 - 26-06/Mario Cristian Sanchez/Python/persona_dao.py
  Semana 13 - 26-06/Mendoza, Santiago RJ/Java/Main.java
  Semana 13 - 26-06/Mendoza, Santiago RJ/Java/conexion/Conexion.java
  Semana 13 - 26-06/Mendoza, Santiago RJ/Java/datos/EstudianteDAO.java
  Semana 13 - 26-06/Mendoza, Santiago RJ/Java/dominio/Estudiante.java
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/Persona.py
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/capa_datos.log
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/conexion.py
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/cursor_del_pool.py
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/logger_base.py
  Semana 13 - 26-06/Mendoza, Santiago RJ/Python/persona_dao.py
  Semana 13 - 26-06/Perez Pesce, Agustin/Java/Main.java
  Semana 13 - 26-06/Perez Pesce, Agustin/Java/conexion/Conexion.java
  Semana 13 - 26-06/Perez Pesce, Agustin/Java/datos/EstudianteDAO.java
  Semana 13 - 26-06/Perez Pesce, Agustin/Java/dominio/Estudiante.java
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/Persona.py
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/capa_datos.log
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/conexion.py
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/cursor_del_pool.py
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/logger_base.py
  Semana 13 - 26-06/Perez Pesce, Agustin/Python/persona_dao.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Java/Conexion.java
  Semana 13 - 26-06/Troncoso, Braian Axel/Java/Estudiante.java
  Semana 13 - 26-06/Troncoso, Braian Axel/Java/EstudianteDAO.java
  Semana 13 - 26-06/Troncoso, Braian Axel/Java/Main.java
  Semana 13 - 26-06/Troncoso, Braian Axel/Java/consultas.sql
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/Persona.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/capa_datos.log
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/conexion.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/cursor_del_pool.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/logger_base.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/persona_dao.py
  Semana 13 - 26-06/Troncoso, Braian Axel/Python/pool_conexiones.png
Labels: Merge a Dev
