Repository CodeSystem2022/Debugging_Demons_Tercer_Semestre, pull requests merged in 2023-05, with the labels that each got.

#19 [ADD] Ejercicios Java | Python | JavaScript - Semana 4
  Semana 4 - 24-04/Java/index.java
  Semana 4 - 24-04/Javascript/index.js
  Semana 4 - 24-04/Perez Pesce, Agustin/Java/TestModificadoresAcceso.java
  Semana 4 - 24-04/Perez Pesce, Agustin/JavaScript/01-04-objetos.js
  Semana 4 - 24-04/Perez Pesce, Agustin/Python/prueba_bd.py
  Semana 4 - 24-04/Python/index.py
Labels: Java, Python, Javascript

#21 Semana 1 Py
  Semana 1 - 03-04/Farias, Mariano/JAVA/Computadora.java
  Semana 1 - 03-04/Farias, Mariano/JS/01-02-ciclos.js
  Semana 1 - 03-04/Farias, Mariano/Python/NumerosIgualesExeption.py
  Semana 1 - 03-04/Farias, Mariano/Python/manejo_excepciones.py
Labels: Python, Solicitud de Pull Request

#22 Semana 2 Mariano
  Semana 2 - 10-04/Farias Mariano/JAVA/Continentes.java
  Semana 2 - 10-04/Farias Mariano/JS/02-03-arreglos.js
  Semana 2 - 10-04/Farias Mariano/PYTHON/leer_archivo.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#23 [ADD] Clase 4 - Java - Javascript - Python
  Troncoso, Braian Axel/Java/Empleado.java
  Troncoso, Braian Axel/Java/EmpleadoSE.java
  Troncoso, Braian Axel/Java/Gerente.java
  Troncoso, Braian Axel/Java/GerenteSE.java
  Troncoso, Braian Axel/Java/Sobreescritura.java
  Troncoso, Braian Axel/Java/TestIntanceOf.java
  Troncoso, Braian Axel/Javascript/01-04-Objetos.js
  Troncoso, Braian Axel/Javascript/index.html
  Troncoso, Braian Axel/Python/prueba_bd.py
Labels: Merge a Main, Urgente 💥

#27 Creada semana 1
  Semana 1 - 03-04/Genre, Franco Sebastian/Java/Leccion1.java
  Semana 1 - 03-04/Genre, Franco Sebastian/JavaScript/Leccion1.js
  Semana 1 - 03-04/Genre, Franco Sebastian/Python/Leccion1.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#29 [Semana-1] Java- Python - JavaScript
  Semana 1 - 03-04/Sanchez, Mario Cristian/Java/MundoPC.java
  Semana 1 - 03-04/Sanchez, Mario Cristian/JavaScript/Javascript.js
  Semana 1 - 03-04/Sanchez, Mario Cristian/Python/Python.py
Labels: Java, Python, Javascript, Solicitud de Pull Request, Urgente 💥

#30 Semana 1
  Semana 1 - 03-04/Farias, Mariano/JAVA/Computadora.java
  Semana 1 - 03-04/Farias, Mariano/JS/01-02-ciclos.js
  Semana 1 - 03-04/Farias, Mariano/Python/NumerosIgualesExeption.py
  Semana 1 - 03-04/Farias, Mariano/Python/manejo_excepciones.py
  Semana 1 - 03-04/Galvan, Sebastian Alejandro/Java/mundoPc.java
  Semana 1 - 03-04/Galvan, Sebastian Alejandro/Javascript/ciclos.js
  Semana 1 - 03-04/Galvan, Sebastian Alejandro/Pyhon/NumerosIgualesException.py
  Semana 1 - 03-04/Galvan, Sebastian Alejandro/Pyhon/manejo_excepciones.py
  Semana 1 - 03-04/Genre, Franco Sebastian/Java/Leccion1.java
  Semana 1 - 03-04/Genre, Franco Sebastian/JavaScript/Leccion1.js
  Semana 1 - 03-04/Genre, Franco Sebastian/Python/Leccion1.py
  Semana 1 - 03-04/Mendoza, Santiago R.J/Java/mundoPc.java
  Semana 1 - 03-04/Mendoza, Santiago R.J/Javascript/01-03-ciclos.js
  Semana 1 - 03-04/Mendoza, Santiago R.J/Python/manejo_excepciones.py
  Semana 1 - 03-04/Perez Pesce, Agustin/Java/Java.java
  Semana 1 - 03-04/Perez Pesce, Agustin/JavaScript/JavaScript.js
  Semana 1 - 03-04/Perez Pesce, Agustin/Python/Python.py
  Semana 1 - 03-04/Sanchez, Mario Cristian/Java/MundoPC.java
  Semana 1 - 03-04/Sanchez, Mario Cristian/JavaScript/Javascript.js
  Semana 1 - 03-04/Sanchez, Mario Cristian/Python/Python.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/Computadora.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/DispositivoEntrada.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/Monitor.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/Orden.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/Raton.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/Teclado.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/mundoPC.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Javascript/01-03-ciclos.js
  Semana 1 - 03-04/Troncoso, Braian Axel/Javascript/02-03-arreglos.js
  Semana 1 - 03-04/Troncoso, Braian Axel/Javascript/index.html
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/ManejoArchivos.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/NumerosIgualesException.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/archivos_con_with.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/copia.txt
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/leer_archivo.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/manejo_archivos.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/manejo_excepciones.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/prueba.txt
Labels: Java, Python, Javascript

#32 [Semana-2]JavaScript - Python
  Semana 2 - 10-04/Sanchez, Mario Cristian/JavaScript/02-03-arreglos.js
  Semana 2 - 10-04/Sanchez, Mario Cristian/Python/archivos_con_with.py
  Semana 2 - 10-04/Sanchez, Mario Cristian/Python/leer_archivo.py
  Semana 2 - 10-04/Sanchez, Mario Cristian/Python/manejoArchivo.py
  Semana 2 - 10-04/Sanchez, Mario Cristian/Python/manejo_archivos.py
Labels: Python, Javascript, Solicitud de Pull Request, Urgente 💥

#31 Dev
  Semana 1 - 03-04/Farias, Mariano/JAVA/Computadora.java
  Semana 1 - 03-04/Farias, Mariano/JS/01-02-ciclos.js
  Semana 1 - 03-04/Farias, Mariano/Python/NumerosIgualesExeption.py
  Semana 1 - 03-04/Farias, Mariano/Python/manejo_excepciones.py
  Semana 1 - 03-04/Galvan, Sebastian Alejandro/Java/mundoPc.java
  Semana 1 - 03-04/Galvan, Sebastian Alejandro/Javascript/ciclos.js
  Semana 1 - 03-04/Galvan, Sebastian Alejandro/Pyhon/NumerosIgualesException.py
  Semana 1 - 03-04/Galvan, Sebastian Alejandro/Pyhon/manejo_excepciones.py
  Semana 1 - 03-04/Genre, Franco Sebastian/Java/Leccion1.java
  Semana 1 - 03-04/Genre, Franco Sebastian/JavaScript/Leccion1.js
  Semana 1 - 03-04/Genre, Franco Sebastian/Python/Leccion1.py
  Semana 1 - 03-04/Mendoza, Santiago R.J/Java/mundoPc.java
  Semana 1 - 03-04/Mendoza, Santiago R.J/Javascript/01-03-ciclos.js
  Semana 1 - 03-04/Mendoza, Santiago R.J/Python/manejo_excepciones.py
  Semana 1 - 03-04/Perez Pesce, Agustin/Java/Java.java
  Semana 1 - 03-04/Perez Pesce, Agustin/JavaScript/JavaScript.js
  Semana 1 - 03-04/Perez Pesce, Agustin/Python/Python.py
  Semana 1 - 03-04/Sanchez, Mario Cristian/Java/MundoPC.java
  Semana 1 - 03-04/Sanchez, Mario Cristian/JavaScript/Javascript.js
  Semana 1 - 03-04/Sanchez, Mario Cristian/Python/Python.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/Computadora.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/DispositivoEntrada.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/Monitor.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/Orden.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/Raton.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/Teclado.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Java/mundoPC.java
  Semana 1 - 03-04/Troncoso, Braian Axel/Javascript/01-03-ciclos.js
  Semana 1 - 03-04/Troncoso, Braian Axel/Javascript/02-03-arreglos.js
  Semana 1 - 03-04/Troncoso, Braian Axel/Javascript/index.html
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/ManejoArchivos.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/NumerosIgualesException.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/archivos_con_with.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/copia.txt
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/leer_archivo.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/manejo_archivos.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/manejo_excepciones.py
  Semana 1 - 03-04/Troncoso, Braian Axel/Python/prueba.txt
Labels: Merge a Main, Urgente 💥

#41 Semana 2
  Semana 2 - 10-04/Sanchez, Mario Cristian/JavaScript/02-03-arreglos.js
  Semana 2 - 10-04/Sanchez, Mario Cristian/Python/archivos_con_with.py
  Semana 2 - 10-04/Sanchez, Mario Cristian/Python/leer_archivo.py
  Semana 2 - 10-04/Sanchez, Mario Cristian/Python/manejoArchivo.py
  Semana 2 - 10-04/Sanchez, Mario Cristian/Python/manejo_archivos.py
Labels: Java, Python, Javascript

#42 Semana 3 Mariano
  Semana 2 - 10-04/Farias Mariano/JAVA/TestAutoboxingUnboxing.java
  Semana 2 - 10-04/Farias Mariano/PYTHON/archivos_con_with.py
  Semana 3 - 17-04/Mariano Farias/Java/TestModificadoresAcceso.java
  Semana 3 - 17-04/Mariano Farias/Javascrip/01-03-funciones.js
  Semana 3 - 17-04/Mariano Farias/Python/Pelicula.py
  Semana 3 - 17-04/Mariano Farias/Python/__init__.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#40 Semana 2 franco
  Semana 2 - 10-04/Genre, Franco Sebastian/Java/Persona.java
  Semana 2 - 10-04/Genre, Franco Sebastian/JavaScript/arrays.js
  Semana 2 - 10-04/Genre, Franco Sebastian/Python/manejo_archivos.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#44 Semana 3 franco
  Semana 3 - 17-04/Genre, Franco Sebastian/Java/argumentosVariables.java
  Semana 3 - 17-04/Genre, Franco Sebastian/JavaScript/funciones.js
  Semana 3 - 17-04/Genre, Franco Sebastian/Python/ProyectoCatalogoDePeliculas.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#45 [ADD] Ejercicio Java Semana 5
  Semana 5 - 08-05/Perez Pesce, Agustin/Java/Empleado.java
  Semana 5 - 08-05/Perez Pesce, Agustin/Java/Gerente.java
  Semana 5 - 08-05/Perez Pesce, Agustin/Java/TestSobreescritura.java
Labels: Java, Solicitud de Pull Request

#54 [Semana-3]Java-JavaScript - Python
  Sanchez, Mario Cristian/Java/TestContinentes.java
  Sanchez, Mario Cristian/JavaScript/01-03-funciones.js
  Sanchez, Mario Cristian/Python/catalogo_peliculas.py
Labels: Java, Python, Javascript, Solicitud de Pull Request, Urgente 💥

#56 Primer ejercicio semana 5
  Semana 5 - 08-05/Mariano Farias/Java/Empleado.java
  Semana 5 - 08-05/Mariano Farias/Javascrip/01-04-objetos.js
  Semana 5 - 08-05/Mariano Farias/Python/v_registros.py
  Semana 5 - 08-05/Perez Pesce, Agustin/Java/Empleado.java
  Semana 5 - 08-05/Perez Pesce, Agustin/Java/Gerente.java
  Semana 5 - 08-05/Perez Pesce, Agustin/Java/TestSobreescritura.java
Labels: Java, Python, Javascript, Solicitud de Pull Request

#57 Actualizada semana 5
  Semana 5 - 08-05/Genre, Franco Sebastian/Java/Empleado.java
  Semana 5 - 08-05/Genre, Franco Sebastian/JavaScript/objetos.js
  Semana 5 - 08-05/Genre, Franco Sebastian/Python/actualizar_registro.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#46 Asistencia semana 4 Mariano
  Semana 4 - 24-04/Mariano Farias/Java/Empleado.java
  Semana 4 - 24-04/Mariano Farias/Javascrip/01-04-objetos.js
  Semana 4 - 24-04/Mariano Farias/Python/prueba_bd.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#62 Semana 4 cristian
  Semana 4 - 24-04/Sanchez, Mario Cristian/Java/TestForEach.java
  Semana 4 - 24-04/Sanchez, Mario Cristian/JavaScript/01-04-objetos1.js
  Semana 4 - 24-04/Sanchez, Mario Cristian/JavaScript/index.html
  Semana 4 - 24-04/Sanchez, Mario Cristian/Python/prueba_bd.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#84 Semana 4
  Semana 4 - 24-04/Mariano Farias/Java/Empleado.java
  Semana 4 - 24-04/Mariano Farias/Javascrip/01-04-objetos.js
  Semana 4 - 24-04/Mariano Farias/Python/prueba_bd.py
  Semana 4 - 24-04/Mendoza, Santiago RJ/Javascript/TSLeccion 4/01-04-objetos.js
  Semana 4 - 24-04/Mendoza, Santiago RJ/Javascript/TSLeccion 4/index.html
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Empleado (2).java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Empleado.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Gerente (2).java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Gerente.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/TestInstanceOf.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/TestSobreescritura.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Python/Leccion 4/BD/prueba_bd.py
  Semana 4 - 24-04/Perez Pesce, Agustin/Java/TestModificadoresAcceso.java
  Semana 4 - 24-04/Perez Pesce, Agustin/JavaScript/01-04-objetos.js
  Semana 4 - 24-04/Perez Pesce, Agustin/Python/prueba_bd.py
  Semana 4 - 24-04/Sanchez, Mario Cristian/Java/TestForEach.java
  Semana 4 - 24-04/Sanchez, Mario Cristian/JavaScript/01-04-objetos1.js
  Semana 4 - 24-04/Sanchez, Mario Cristian/JavaScript/index.html
  Semana 4 - 24-04/Sanchez, Mario Cristian/Python/prueba_bd.py
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/Empleado.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/EmpleadoSE.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/Gerente.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/GerenteSE.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/Sobreescritura.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/TestIntanceOf.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Javascript/01-04-Objetos.js
  Semana 4 - 24-04/Troncoso, Braian Axel/Javascript/index.html
  Semana 4 - 24-04/Troncoso, Braian Axel/Python/prueba_bd.py
Labels: Solicitud de Pull Request

#85 Dev
  Semana 4 - 24-04/Mariano Farias/Java/Empleado.java
  Semana 4 - 24-04/Mariano Farias/Javascrip/01-04-objetos.js
  Semana 4 - 24-04/Mariano Farias/Python/prueba_bd.py
  Semana 4 - 24-04/Mendoza, Santiago RJ/Javascript/TSLeccion 4/01-04-objetos.js
  Semana 4 - 24-04/Mendoza, Santiago RJ/Javascript/TSLeccion 4/index.html
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Empleado (2).java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Empleado.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Gerente (2).java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Gerente.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/TestInstanceOf.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/TestSobreescritura.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Python/Leccion 4/BD/prueba_bd.py
  Semana 4 - 24-04/Perez Pesce, Agustin/Java/TestModificadoresAcceso.java
  Semana 4 - 24-04/Perez Pesce, Agustin/JavaScript/01-04-objetos.js
  Semana 4 - 24-04/Perez Pesce, Agustin/Python/prueba_bd.py
  Semana 4 - 24-04/Sanchez, Mario Cristian/Java/TestForEach.java
  Semana 4 - 24-04/Sanchez, Mario Cristian/JavaScript/01-04-objetos1.js
  Semana 4 - 24-04/Sanchez, Mario Cristian/JavaScript/index.html
  Semana 4 - 24-04/Sanchez, Mario Cristian/Python/prueba_bd.py
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/Empleado.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/EmpleadoSE.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/Gerente.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/GerenteSE.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/Sobreescritura.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/TestIntanceOf.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Javascript/01-04-Objetos.js
  Semana 4 - 24-04/Troncoso, Braian Axel/Javascript/index.html
  Semana 4 - 24-04/Troncoso, Braian Axel/Python/prueba_bd.py
Labels: Solicitud de Pull Request, Merge a Main

#55 [ADD] Ejercicio Java, Python, JavaScript Semana 6
  Semana 6 - 08-05/Perez Pesce, Agustin/Java/FiguraGeometrica.java
  Semana 6 - 08-05/Perez Pesce, Agustin/Java/Rectangulo.java
  Semana 6 - 08-05/Perez Pesce, Agustin/Java/TestAbstractas.java
  Semana 6 - 08-05/Perez Pesce, Agustin/JavaScript/JavaScript.js
  Semana 6 - 08-05/Perez Pesce, Agustin/Python/delete_registro.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#92 Semana 4 Seba
  Semana 4 - 24-04/Galvan, Sebastian Alejandro/Java/ForEach.java
  Semana 4 - 24-04/Galvan, Sebastian Alejandro/Java/Persona.java
  Semana 4 - 24-04/Galvan, Sebastian Alejandro/Java/TestAutoboxingUnboxing.java
  Semana 4 - 24-04/Galvan, Sebastian Alejandro/Javascript/objetos.js
  Semana 4 - 24-04/Galvan, Sebastian Alejandro/Python/prueba_conexion_bd.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#94 [ADD]Java - Python - JavaScript
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/accesodatos/IAccesoDatos.java
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/accesodatos/ImplementacionMySql.java
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/accesodatos/ImplementacionOracle.java
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/test/TestInterfaces.java
  Semana 8 - 22-05/Mario Cristian Sanchez/JavaScript/clases.js
  Semana 8 - 22-05/Mario Cristian Sanchez/JavaScript/index.html
  Semana 8 - 22-05/Mario Cristian Sanchez/Python/capa_datos.log
  Semana 8 - 22-05/Mario Cristian Sanchez/Python/logger_base.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#90 Semana 8 Seba
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/IAccessoDatos.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/ImplMySQL.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/ImplOracle.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/TestInterfaces.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Javascript/clases.js
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Python/logger_base.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#88 Semana-8-Franco
  Semana 8 - 22-05/Genre, Franco Sebastian/Java/TestInterfaces.java
  Semana 8 - 22-05/Genre, Franco Sebastian/JavaScript/05-03-clases.js
  Semana 8 - 22-05/Genre, Franco Sebastian/Python/logger_base.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#89 [ADD] Ejercicios Java, JavaScript, Python Semana 8
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/accessodatos/IAccesoDatos.java
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/accessodatos/ImplementacionMySql.java
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/accessodatos/ImplementacionOracle.java
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/test/TestInterface.java
  Semana 8 - 22-05/Perez Pesce, Agustin/JavaScript/05-03-clases.js
  Semana 8 - 22-05/Perez Pesce, Agustin/JavaScript/index.html
  Semana 8 - 22-05/Perez Pesce, Agustin/Python/capa_datos_persona/capa_datos.log
  Semana 8 - 22-05/Perez Pesce, Agustin/Python/capa_datos_persona/logger_base.py
  Semana 8 - 22-05/base_datos.uxf
  Semana 8 - 22-05/index.html
Labels: Java, Python, Javascript, Solicitud de Pull Request

#95 Semana 8 Mariano
  Semana 8 - 22-05/Mariano Farias/Js/05-03-clases.js
  Semana 8 - 22-05/Mariano Farias/Python/logger_base.py
Labels: Python, Javascript, Solicitud de Pull Request

#98 Braian fix semana 8
  Semana 4 - 24-04/Mariano Farias/Java/Empleado.java
  Semana 4 - 24-04/Mariano Farias/Javascrip/01-04-objetos.js
  Semana 4 - 24-04/Mariano Farias/Python/prueba_bd.py
  Semana 4 - 24-04/Mendoza, Santiago RJ/Javascript/TSLeccion 4/01-04-objetos.js
  Semana 4 - 24-04/Mendoza, Santiago RJ/Javascript/TSLeccion 4/index.html
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Empleado (2).java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Empleado.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Gerente (2).java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/Gerente.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/TestInstanceOf.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Leccion 4/TestSobreescritura.java
  Semana 4 - 24-04/Mendoza, Santiago RJ/Python/Leccion 4/BD/prueba_bd.py
  Semana 4 - 24-04/Perez Pesce, Agustin/Java/TestModificadoresAcceso.java
  Semana 4 - 24-04/Perez Pesce, Agustin/JavaScript/01-04-objetos.js
  Semana 4 - 24-04/Perez Pesce, Agustin/Python/prueba_bd.py
  Semana 4 - 24-04/Sanchez, Mario Cristian/Java/TestForEach.java
  Semana 4 - 24-04/Sanchez, Mario Cristian/JavaScript/01-04-objetos1.js
  Semana 4 - 24-04/Sanchez, Mario Cristian/JavaScript/index.html
  Semana 4 - 24-04/Sanchez, Mario Cristian/Python/prueba_bd.py
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/Empleado.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/EmpleadoSE.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/Gerente.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/GerenteSE.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/Sobreescritura.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Java/TestIntanceOf.java
  Semana 4 - 24-04/Troncoso, Braian Axel/Javascript/01-04-Objetos.js
  Semana 4 - 24-04/Troncoso, Braian Axel/Javascript/index.html
  Semana 4 - 24-04/Troncoso, Braian Axel/Python/prueba_bd.py
  Semana 8 - 22-05/Troncoso, Braian Axel/Java/IAccesoDatos.java
  Semana 8 - 22-05/Troncoso, Braian Axel/Java/ImplementacionMysql.java
  Semana 8 - 22-05/Troncoso, Braian Axel/Java/ImplementacionOracle.java
  Semana 8 - 22-05/Troncoso, Braian Axel/Javascript/TSLeccion05/05-03-clases.js
  Semana 8 - 22-05/Troncoso, Braian Axel/Python/capa_datos_persona/logger_base.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#99 [FIX] Se movio la carpeta a la rama Semana 8
  Semana 8 - 22-05/Mendoza, Santiago/Java/IAccesoDatos.java
  Semana 8 - 22-05/Mendoza, Santiago/Java/ImplementacionMySql.java
  Semana 8 - 22-05/Mendoza, Santiago/Java/ImplementacionOracle.java
  Semana 8 - 22-05/Mendoza, Santiago/Java/TestInterfaces.java
  Semana 8 - 22-05/Mendoza, Santiago/Javascript/05-03-clases.js
  Semana 8 - 22-05/Mendoza, Santiago/Javascript/index.html
  Semana 8 - 22-05/Mendoza, Santiago/Python/logger_base.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#100 Semana 8
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/IAccessoDatos.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/ImplMySQL.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/ImplOracle.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/TestInterfaces.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Javascript/clases.js
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Python/logger_base.py
  Semana 8 - 22-05/Genre, Franco Sebastian/Java/TestInterfaces.java
  Semana 8 - 22-05/Genre, Franco Sebastian/JavaScript/05-03-clases.js
  Semana 8 - 22-05/Genre, Franco Sebastian/Python/logger_base.py
  Semana 8 - 22-05/Mariano Farias/Js/05-03-clases.js
  Semana 8 - 22-05/Mariano Farias/Python/logger_base.py
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/accesodatos/IAccesoDatos.java
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/accesodatos/ImplementacionMySql.java
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/accesodatos/ImplementacionOracle.java
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/test/TestInterfaces.java
  Semana 8 - 22-05/Mario Cristian Sanchez/JavaScript/clases.js
  Semana 8 - 22-05/Mario Cristian Sanchez/JavaScript/index.html
  Semana 8 - 22-05/Mario Cristian Sanchez/Python/capa_datos.log
  Semana 8 - 22-05/Mario Cristian Sanchez/Python/logger_base.py
  Semana 8 - 22-05/Mendoza, Santiago/Java/IAccesoDatos.java
  Semana 8 - 22-05/Mendoza, Santiago/Java/ImplementacionMySql.java
  Semana 8 - 22-05/Mendoza, Santiago/Java/ImplementacionOracle.java
  Semana 8 - 22-05/Mendoza, Santiago/Java/TestInterfaces.java
  Semana 8 - 22-05/Mendoza, Santiago/Javascript/05-03-clases.js
  Semana 8 - 22-05/Mendoza, Santiago/Javascript/index.html
  Semana 8 - 22-05/Mendoza, Santiago/Python/logger_base.py
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/accessodatos/IAccesoDatos.java
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/accessodatos/ImplementacionMySql.java
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/accessodatos/ImplementacionOracle.java
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/test/TestInterface.java
  Semana 8 - 22-05/Perez Pesce, Agustin/JavaScript/05-03-clases.js
  Semana 8 - 22-05/Perez Pesce, Agustin/JavaScript/index.html
  Semana 8 - 22-05/Perez Pesce, Agustin/Python/capa_datos_persona/capa_datos.log
  Semana 8 - 22-05/Perez Pesce, Agustin/Python/capa_datos_persona/logger_base.py
  Semana 8 - 22-05/Troncoso, Braian Axel/Java/IAccesoDatos.java
  Semana 8 - 22-05/Troncoso, Braian Axel/Java/ImplementacionMysql.java
  Semana 8 - 22-05/Troncoso, Braian Axel/Java/ImplementacionOracle.java
  Semana 8 - 22-05/Troncoso, Braian Axel/Javascript/TSLeccion05/05-03-clases.js
  Semana 8 - 22-05/Troncoso, Braian Axel/Python/capa_datos_persona/logger_base.py
  Semana 8 - 22-05/base_datos.uxf
Labels: Solicitud de Pull Request, Merge a Dev

#101 Merge dev a main (Semana-8)
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/IAccessoDatos.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/ImplMySQL.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/ImplOracle.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Java/TestInterfaces.java
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Javascript/clases.js
  Semana 8 - 22-05/Galvan. Sebastian Alejandro/Python/logger_base.py
  Semana 8 - 22-05/Genre, Franco Sebastian/Java/TestInterfaces.java
  Semana 8 - 22-05/Genre, Franco Sebastian/JavaScript/05-03-clases.js
  Semana 8 - 22-05/Genre, Franco Sebastian/Python/logger_base.py
  Semana 8 - 22-05/Mariano Farias/Js/05-03-clases.js
  Semana 8 - 22-05/Mariano Farias/Python/logger_base.py
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/accesodatos/IAccesoDatos.java
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/accesodatos/ImplementacionMySql.java
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/accesodatos/ImplementacionOracle.java
  Semana 8 - 22-05/Mario Cristian Sanchez/Java/src/test/TestInterfaces.java
  Semana 8 - 22-05/Mario Cristian Sanchez/JavaScript/clases.js
  Semana 8 - 22-05/Mario Cristian Sanchez/JavaScript/index.html
  Semana 8 - 22-05/Mario Cristian Sanchez/Python/capa_datos.log
  Semana 8 - 22-05/Mario Cristian Sanchez/Python/logger_base.py
  Semana 8 - 22-05/Mendoza, Santiago/Java/IAccesoDatos.java
  Semana 8 - 22-05/Mendoza, Santiago/Java/ImplementacionMySql.java
  Semana 8 - 22-05/Mendoza, Santiago/Java/ImplementacionOracle.java
  Semana 8 - 22-05/Mendoza, Santiago/Java/TestInterfaces.java
  Semana 8 - 22-05/Mendoza, Santiago/Javascript/05-03-clases.js
  Semana 8 - 22-05/Mendoza, Santiago/Javascript/index.html
  Semana 8 - 22-05/Mendoza, Santiago/Python/logger_base.py
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/accessodatos/IAccesoDatos.java
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/accessodatos/ImplementacionMySql.java
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/accessodatos/ImplementacionOracle.java
  Semana 8 - 22-05/Perez Pesce, Agustin/Java/test/TestInterface.java
  Semana 8 - 22-05/Perez Pesce, Agustin/JavaScript/05-03-clases.js
  Semana 8 - 22-05/Perez Pesce, Agustin/JavaScript/index.html
  Semana 8 - 22-05/Perez Pesce, Agustin/Python/capa_datos_persona/capa_datos.log
  Semana 8 - 22-05/Perez Pesce, Agustin/Python/capa_datos_persona/logger_base.py
  Semana 8 - 22-05/Troncoso, Braian Axel/Java/IAccesoDatos.java
  Semana 8 - 22-05/Troncoso, Braian Axel/Java/ImplementacionMysql.java
  Semana 8 - 22-05/Troncoso, Braian Axel/Java/ImplementacionOracle.java
  Semana 8 - 22-05/Troncoso, Braian Axel/Javascript/TSLeccion05/05-03-clases.js
  Semana 8 - 22-05/Troncoso, Braian Axel/Python/capa_datos_persona/logger_base.py
  Semana 8 - 22-05/base_datos.uxf
Labels: Solicitud de Pull Request, Merge a Main

#102 Semana 4 Franco
  Semana 4 - 24-04/Genre, Franco Sebastian/Java/argumentosVariables.java
  Semana 4 - 24-04/Genre, Franco Sebastian/JavaScript/funciones.js
  Semana 4 - 24-04/Genre, Franco Sebastian/Python/ProyectoCatalogoDePeliculas.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#104 Dev
  Semana 4 - 24-04/Galvan, Sebastian Alejandro/Java/ForEach.java
  Semana 4 - 24-04/Galvan, Sebastian Alejandro/Java/TestAutoboxingUnboxing.java
  Semana 4 - 24-04/Galvan, Sebastian Alejandro/Javascript/objetos.js
  Semana 4 - 24-04/Genre, Franco Sebastian/Java/argumentosVariables.java
  Semana 4 - 24-04/Genre, Franco Sebastian/JavaScript/funciones.js
  Semana 4 - 24-04/Genre, Franco Sebastian/Python/ProyectoCatalogoDePeliculas.py
Labels: Solicitud de Pull Request, Merge a Main
