Repository CodeSystem2022/Debugging_Demons_Tercer_Semestre, pull requests merged in 2023-06, with the labels that each got.

#97 [ADD]Semana-5 Java-Python-JavaScript
  Semana 5 - 08-05/Mario Cristian Sanchez/Java/domain/Empleado.java
  Semana 5 - 08-05/Mario Cristian Sanchez/Java/domain/Escritor.java
  Semana 5 - 08-05/Mario Cristian Sanchez/Java/domain/Gerente.java
  Semana 5 - 08-05/Mario Cristian Sanchez/Java/domain/TipoEscritura.java
  Semana 5 - 08-05/Mario Cristian Sanchez/Java/test/TestConversionObjetos.java
Labels: Java, Python, Javascript, Solicitud de Pull Request

#116 [ADD] Ejercicios Semana 9
  Semana 9 - 29-05/Index.txt
  Semana 9 - 29-05/Perez Pesce, Agustin/Java/aritmetica/Aritmetica.java
  Semana 9 - 29-05/Perez Pesce, Agustin/Java/excepciones/OperacionExcepcion.java
  Semana 9 - 29-05/Perez Pesce, Agustin/Java/test/TestExcepciones.java
  Semana 9 - 29-05/Perez Pesce, Agustin/JavaScript/05-03-clases.js
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/Persona.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/conexion.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/logger_base.py
  Semana 9 - 29-05/Perez Pesce, Agustin/Python/persona_dao.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#73 [REFACTOR] Semana 5 - Java - Python - Js
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/.gitignore
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/.idea/.gitignore
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/.idea/misc.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/.idea/modules.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/.idea/vcs.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/src/ar/com/system2023/mundopc/Computadora.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/src/ar/com/system2023/mundopc/DispositivoEntrada.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/src/ar/com/system2023/mundopc/Monitor.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/src/ar/com/system2023/mundopc/Orden.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/src/ar/com/system2023/mundopc/Raton.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/src/ar/com/system2023/mundopc/Teclado.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion01/MundoPc/src/mundoPC/mundoPC.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/ArgumentosVariables/.gitignore
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/ArgumentosVariables/.idea/.gitignore
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/ArgumentosVariables/.idea/misc.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/ArgumentosVariables/.idea/modules.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/ArgumentosVariables/.idea/vcs.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/ArgumentosVariables/src/TestArgumentosVariables.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/BloquesInicializacion/.gitignore
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/BloquesInicializacion/.idea/misc.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/BloquesInicializacion/.idea/modules.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/BloquesInicializacion/.idea/vcs.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/BloquesInicializacion/.idea/workspace.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/BloquesInicializacion/src/domain/Persona.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/BloquesInicializacion/src/test/TestBloqueInicializacion.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/Enumeraciones/.gitignore
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/Enumeraciones/.idea/.gitignore
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/Enumeraciones/.idea/misc.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/Enumeraciones/.idea/modules.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/Enumeraciones/.idea/uiDesigner.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/Enumeraciones/.idea/vcs.xml
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/Enumeraciones/src/enumeraciones/Continentes.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/Enumeraciones/src/enumeraciones/Dias.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion02/Enumeraciones/src/test/TestEnumeraciones.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion03/Persona.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion03/TestAutoboxingUnboxing.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Java/Leccion03/TestForEach.java
  Semana 5 - 08-05/Troncoso, Braian Axel/Javascript/TSLeccion01/01-03-ciclos.js
  Semana 5 - 08-05/Troncoso, Braian Axel/Javascript/TSLeccion02/02-03-arreglos.js
  Semana 5 - 08-05/Troncoso, Braian Axel/Javascript/TSLeccion03/01-03-funciones.js
  Semana 5 - 08-05/Troncoso, Braian Axel/Javascript/TSLeccion04/01-04-Objetos.js
  Semana 5 - 08-05/Troncoso, Braian Axel/Javascript/TSLeccion04/index.html
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Archivos/Leccion02/ManejoArchivos.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Archivos/Leccion02/archivos_con_with.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Archivos/Leccion02/copia.txt
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Archivos/Leccion02/leer_archivo.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Archivos/Leccion02/manejo_archivos.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Archivos/Leccion02/prueba.txt
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Excepciones/Leccion01/NumerosIgualesException.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Excepciones/Leccion01/manejo_excepciones.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Leccion03/catalogo_peliculas/dominio/Pelicula.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Leccion03/catalogo_peliculas/dominio/catalogo_pelicula.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Leccion03/catalogo_peliculas/peliculas.txt
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Leccion03/catalogo_peliculas/test_catalogo_peliculas.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Leccion03/readme.txt
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Leccion04/BD/actualizar_registro.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Leccion04/BD/actualizar_varios_reg.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Leccion04/BD/delete_registro.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Leccion04/BD/delete_varios_reg.py
  Semana 5 - 08-05/Troncoso, Braian Axel/Python/Leccion04/BD/prueba_bd.py
Labels: Bug

#125 [FIX] Semana-5-agu
  Semana 5 - 08-05/Perez Pesce, Agustin/Java/Empleado.java
  Semana 5 - 08-05/Perez Pesce, Agustin/Java/Gerente.java
  Semana 5 - 08-05/Perez Pesce, Agustin/Java/TestSobreescritura.java
Labels: Java, Solicitud de Pull Request

#127 [ADD] Ejercicios Semana 10
  Semana 10 - 05-06/Perez Pesce, Agustin/Java/CalculadoraUTN.java
  Semana 10 - 05-06/Perez Pesce, Agustin/JavaScript/PruebaPersonas.js
  Semana 10 - 05-06/Perez Pesce, Agustin/JavaScript/ejercicioHerencia.uxf
  Semana 10 - 05-06/Perez Pesce, Agustin/Python/Persona.py
  Semana 10 - 05-06/Perez Pesce, Agustin/Python/persona_dao.py
Labels: Java, Python, Javascript, Solicitud de Pull Request

#136 [ADD] Ejercicios Semana 11
  Semana 11 - 12-06/Perez Pesce, Agustin/Java/ListadoPersonasApp.java
  Semana 11 - 12-06/Perez Pesce, Agustin/Java/Persona.java
  Semana 11 - 12-06/Perez Pesce, Agustin/JavaScript/SistemasVentas.js
  Semana 11 - 12-06/Perez Pesce, Agustin/JavaScript/sistemasVentas.uxf
  Semana 11 - 12-06/Perez Pesce, Agustin/Python/conexion.py
  Semana 11 - 12-06/index.html
Labels: Java, Python, Javascript, Solicitud de Pull Request

#148 [ADD] Ejercicio semana 12
  Semana 12 - 19-06/Perez Pesce. Agustin/Java/Conexion.java
  Semana 12 - 19-06/Perez Pesce. Agustin/Java/Main.java
Labels: Java, Solicitud de Pull Request
